{%  extends 'main.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Account Payment History</li>
        </ol>
    </nav>

    <h5 class="text-center">Debit History</h5><hr>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Receiver Account</th>
            <th scope="col">Account Holder</th>
            <th scope="col">Amount</th>
            <th scope="col">Time</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
            {% for debit in debits %}
                <tr>
                    <td>{{ debit.receiver_account_no }}</td>
                    <td>{{ debit.receiver_name }}</td>
                    <td>{{ debit.amount }}</td>
                    <td>{{ debit.created_at | date:"H:i" }}</td>
                    <td>{{ debit.created_at | date:"F d, Y" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <h5 class="text-center">Credit History</h5><hr>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Sender Account</th>
            <th scope="col">Account Holder</th>
            <th scope="col">Amount</th>
            <th scope="col">Time</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
            {% for credit in credits %}
                <tr>
                    <td>{{ credit.sender_account_no }}</td>
                    <td>{{ credit.sender_name }}</td>
                    <td>{{ credit.amount }}</td>
                    <td>{{ credit.created_at | date:"H:i" }}</td>
                    <td>{{ credit.created_at | date:"F d, Y" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
