.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    font-size: 1.35rem;
}

nav .container-fluid {
    margin: 0px 100px 0px 100;
}

.breadcrumb-item {
    font-size: 1.25rem;
}

.balance {
    margin-top: 13px;
}

.nav-item .active {
    font-weight: 500;
}
