{% load static %}

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/main.css' %}" rel="stylesheet"/>
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Payment Gateway</title>
    {% endif %}
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <!-- Flush Messages -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="content-section">
            {% block content %}{% endblock content %}
        </div>
    </div>
    {% include "footer.html" %}
    {% block script %}{% endblock script %}
</body>
</html>